In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("../input/wind.csv", delimiter=";", usecols=["Datum", "Vindriktning", "Vindhastighet"])
df = df.rename(columns={"Datum": "dt", "Vindriktning": "winddirection", "Vindhastighet": "windspeed"})
df.head()

        Datum  Vindriktning  Vindhastighet
0  1976-09-01         230.0           13.0
1  1976-09-01         260.0            5.0
2  1976-09-01         210.0            7.0
3  1976-09-01         220.0            6.0
4  1976-09-01         220.0            5.0

In [4]:
df.to_csv("../input/wind_proc.csv")